.home{
    padding-top: 5rem;
    &-container{
        gap: 3rem;
        justify-content: center;
        padding-top: 5.5rem;
    }
    &-title{
        font-size: 1.5rem;
        margin-bottom: 1.3rem;
        line-height: 2.8rem;
        span{
            color: var(--primary-color);
        }
    }
    &-discription{
        margin-bottom: 1.3rem;
        text-align: justify;
    }
}
.svg{
    &-image{
        width: 400px;
        justify-self: center;
    }
}