@media screen and (min-width:780px){
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.75rem;
    }
    h4{
        font-size: 1rem;
    }
    body{
        font-size: 1rem;
    }
}
@media screen and (min-width:780px){
    .nav{
        &-list{
            flex-direction: row;
            gap: 2.7rem;
        }
        &-icon{
            display: none;
        }
    }
}
@media screen and (min-width:990px){
    .btn{
        &-header{
            display: block;
            // padding: 0.3rem 1.4rem;
        }
    }
    .svg-image{
        width: 500px;
    }
    
}
@media screen and (min-width:840px){
    .home-container,.about-container,.support-container,.services-container,.app-container,.contact-container{
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }


    .contact-container{
        article:nth-child(1){
            text-align: right;
        }
        article:nth-child(2){
            text-align: right;
        }
    }

    .home-image{
        order: 1;
    }
    .about-info{
        order: 1;
        text-align: right;
    }
    .support-info{
        text-align: right;
    }
    .app-info{
        text-align: right;
        order: 1;
    }
    .app-btn{
        justify-content: right;
    }
}
@media screen and (min-width:990px){
    .services-container{
        grid-template-columns: repeat(3,1fr);
    }
    .contact-container{
        grid-template-columns: 3fr 2fr 1.25fr;
        article:nth-child(1){
            text-align: right;
        }
        article:nth-child(2){
            text-align: right;
        }
    }
}